body{
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    /*justify-content: center;*/
}
.eye{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: pink;
}
#upper_face{
    height:100px;
    width:200px;
    border-radius: 90px 90px 0 0;
    background-color: green;
}
#lower_face {
    position: relative;
    height: 100px;
    width: 200px;
    border-radius: 0 0 90px 90px;
    background-color: green;
}
#tongue {
    background-color: pink;
    visibility: hidden;
    width:200px;
}
.response_div{

}
.main{
    width: 200px;
    height: 100px;
    border-radius: 20%;
    border: 5px solid green;
}

@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%, 60% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        transform: rotate3d(0, 0, 1, 60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.hinge {
    animation-name: hinge;
}


.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px;/* value = - border-top-width - border-bottom-width */
    left:40px;/* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#5a8f00 transparent;/* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #5a8f00;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
